{% block image %}
    {% if unit.imageurl %}
        <div class="guayaquil_unit_icons">
            <div class="guayaquil_zoom cboxElement"
                 full="{{ unit.imageurl|replace({'%size%': 'source'}) }}"
                 title="{{ unit.code }}: {{ unit.name }}">
                <img src="com_guayaquil/assets/images/zoom_{{ theme }}.png">
            </div>
        </div>
    {% endif %}
    <div id="viewport">
        {% if imagemap %}
            {% for item in imagemap %}
                {% set coi = item.code %}
                {% set width = item.x2 - item.x1 %}
                {% set height = item.y2 - item.y1 %}
                {% set oleft = item.x1 %}
                {% set otop = item.y1 %}
                <div name="{{ item.code }}"
                     class="dragger g_highlight unit-tooltip {% if coi in cois %}g_highlight_lock{% endif %}"
                     style="width: {{ width }}; height: {{ height }};
                             margin-left: {{ oleft }}px;
                             margin-top: {{ otop }}px;
                             position: absolute;
                             overflow: hidden;"
                     owidth="{{ width }}px"
                     oheight="{{ height }}px"
                     oleft="{{ oleft }}px"
                     otop="{{ otop }}px">

                    <img src="com_guayaquil/assets/images/spacer.gif" width="{{ width }}"
                         height="{{ height }}">
                </div>
            {% endfor %}
        {% endif %}

        <img class="dragger"
             src="{{ unit.imageurl ? unit.imageurl|replace({'%size%' : 'source'}) : noimage }}"
             onload="rescaleImage(-100, {x: 0, y: 0});">
    </div>
{% endblock %}