{% use 'blocks/categories.twig' %}
{% use 'blocks/units.twig' %}
{% spaceless %}
    <h1>{{ 'carname'|t|replace({'%s': vehicle.brand ~ ' ' ~ vehicle.name}) }}</h1>
    <div id="pagecontent" class="vehicle-page-wrapper">
        {% block top_line %}
            <div id="guayaquil_toolbar" class="xboxcontent">
                {% if cataloginfo.supportquickgroups and (user or showGrousToGuest) %}
                    <span class="g_ToolbarButton">
                    {% set qgroupsLink = createUrl('qgroups', '', '', {
                    'c':vehicle.catalog,
                    'vid':vehicle.vehicleid,
                    'ssd':vehicle.ssd,
                    }) %}
                        <a href="{{ qgroupsLink }}">
                        {{ 'quickgroupslink'|t }}
                    </a>
                </span>
                {% endif %}
                {% if useApplicability and showApplicability %}
                    <div class="button">
                        <span>
                            <a id="list-parts-link" data-url="{{ createUrl('listoemparts', '', '', {
                                'c': vehicle.catalog,
                                'ssd': vehicle.ssd,
                                'vid': vehicle.vehicleid ?: 0,
                                'format': 'raw'
                            }) }}" href="javascript:void(0)">
                                {{ 'listOemParts'|t }}
                            </a>
                        </span>
                    </div>
                    <div class="oem-search">
                        {{ block('oemSearch') }}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {{ block('units') }}
        {{ block('categories') }}
    </div>
{% endspaceless %}